.sect1{
    background-color: #242582;
    color: white;
   align-items: center;
   font-weight: bold;
   display:flex;
   flex-direction: column;
  
}
#img{
   border: 1px solid grey;
   border-radius: 20%;
   box-shadow: 0px 0px 20px #ff625f;
}
.sect2 h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
    background-color: orange;
}
.row{
    background-color: maroon;
    opacity: 0.9;
    font-size: large;
    color: white;
    margin-top: 0;
}