.sect1{
    background-color: #242582;
    color: white;
   align-items: center;
   font-weight: bold;
   display:flex;
   flex-direction: column;
  
}
#img{
   border: 1px solid grey;
   border-radius: 20%;
   box-shadow: 0px 0px 20px #ff625f;
}
